@import "../css/reset.css";
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?9ukwg1');
    src:  url('../fonts/icomoon.eot?9ukwg1#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?9ukwg1') format('truetype'),
      url('../fonts/icomoon.woff?9ukwg1') format('woff'),
      url('../fonts/icomoon.svg?9ukwg1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
*, *:before, *:after {
	box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 3rem;
}

.flexible-image {
    max-width: 100%;
}

.section {
  padding-top: 3rem;
}

.section__heading {
  text-align: center;
  line-height: 1.1;
  color: #394b50;
}

.section__title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.section__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.form-request__button:hover, .btn:hover {
  cursor: pointer;
}

.btn:hover {
  color: #000;
}

.slider {
  display: none;
}

/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/* header */

.header-flex {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
  display: none;
}

/* nav */

.navBurger {
    cursor: pointer;
    background: #111;
    box-sizing: border-box;
    background-clip: content-box;
    width: 30px;
    height: 24px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.25s ease-in-out;
    z-index: 2;
  }
  .navBurger:before, .navBurger:after {
    content: "";
    position: absolute;
    background: #111;
    height: 2px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.5s ease;
  }
  .navBurger:before {
    top: -10px;
  }
  .navBurger:after {
    bottom: -10px;
  }
  .navBurger.active {
    background: transparent;
    background-clip: content-box;
  }
  .navBurger.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #eee;
  }
  .navBurger.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #eee;
  }
  
  .overlay {
    position: fixed;
    background: #2a3140;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scale(0);
            transform: scale(0);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    
  }
  .overlay.open {
    z-index: 2;
    opacity: 0.99;
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .overlay.open .menu-item {
    display: block; 
    -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
            animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
  .overlay.open .menu-item:nth-of-type(2) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .overlay.open .menu-item:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .overlay.open .menu-item:nth-of-type(4) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .overlay.open .menu-item:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }

  .overlay.open .menu-item:nth-of-type(6) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }

  .overlay.open .menu-item:nth-of-type(7) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  .overlayMenu {
    position: absolute;
    text-align: right;
    right: 10vw;
    bottom: 10vw;
    
  }
  .overlayMenu .menu {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
    
  }
  .overlayMenu .menu .menu-item {
    display: block;
    position: relative;
    opacity: 0;
    width: 100%;
    
  }
  .overlayMenu .menu .menu-item a {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.09);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 10px 40px 10px 40px;
    margin: 5px 0;
    transition: 0.2s;
  }
  .overlayMenu .menu .menu-item a:hover, .overlayMenu .menu .menu-item a:active, .overlayMenu .menu .menu-item a:focus {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    padding-left: 80px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.03);
    
  }
  
  .locked {
    overflow: hidden;
    
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 50px;
    }
    100% {
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 50px;
    }
    100% {
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }

  /* banner */

.banner {
    padding: 2rem 0;
    background-color: #709dca;
    text-align: center;
}

.banner__title {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.2;
}

.banner__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 1.2;
}


.form-request {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form-request__input {
    border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
    padding: 1rem;
    width: 260px;
}

.form-request__input, .form-request__button {
    width: 260px;
}

.form-request .form-request__input, .form-request .form-request__button {
    border-radius: 2px;
    margin-bottom: 1rem;
}

.form-request .form-request__input .form-request__input-name, 
.form-request .form-request__input .form-request__input-email, 
.form-request .form-request__input .form-request__input-phone {
    outline: none;
    border: none; 
    
}

.form-request .form-request__button {
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 1rem; 
    color: #fff;
    background-color: #ffbb42;
    outline: none;
    border: none;
    display: inline-block;
}

.form-request .form-request__button:hover {
  background-color: #c2dcf7;
} 

.form-request .form-request__input .form-request__input-name::placeholder,
.form-request .form-request__input .form-request__input-email::placeholder, 
.form-request .form-request__input .form-request__input-phone::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a9a9a9;
    text-transform: capitalize;
    opacity: 1; /* Firefox */
}

.form-request .form-request__input .form-request__input-name::placeholder,
.form-request .form-request__input .form-request__input-email::placeholder, 
.form-request .form-request__input .form-request__input-phone::placeholder { /* Internet Explorer 10-11 */
    color: #a9a9a9;
    text-transform: capitalize;
}

.form-request .form-request__input .form-request__input-name::placeholder,
.form-request .form-request__input .form-request__input-email::placeholder, 
.form-request .form-request__input .form-request__input-phone::placeholder { /* Microsoft Edge */
    color: #a9a9a9;
    text-transform: capitalize;
}

.fa-user, .fa-envelope, .fa-phone {
  color: #6e6e6e;
}


/* service */

.service-content {
  padding: 2rem 0;
}

.service-content__block {
  display: flex;
  align-items: flex-start;  
  padding-bottom: 2rem;
  line-height: 1.5;
}

.service-content__right {
  padding-left: 10%;
}


.service-content__title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #394b50;
  text-transform: uppercase;
  margin-bottom: 1rem;

}

.service-content__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #7b7b7b;
}

/* about us */

.section-about {
  background-color: #ffc155;
  color: #fff;
  padding-bottom: 4rem;
}

.section-about-bg {
  display: none;
  width: 60vw;
  background: url(../img/about-bg.jpg) center center;
  background-size: cover;
}

.section__title.section__title-about {
  color: #fff;
}

.section__content {
  line-height: 1.5;
  padding: 1rem 0 2.5rem;
}

.section__btn {
  text-align: center;
}

.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: inline-block;
  padding: 3% 5%;
  border: 2px solid #e7ad48;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/* choose */

.section-choose {
  background-color: #e7edf3;
}

.section-choose__content {
  padding-bottom: 3rem;
}
 
.section-choose__item {
  padding: 10%;
  margin-top: 2rem; 
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.section-choose__title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #818b95;
 
}

.section-choose__price {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #ffbb42;
}

.top-index {
  vertical-align: super;
  font-size: 2.5rem;
}

.section-choose__period {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #818b95;
  padding-bottom: 2rem;
}

.section-choose__description {
  border-top: 1px solid #e2e9f0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 4;
  color: #b5bbc1;
}

.btn.btn-block {
  background-color: #ffbb42;
  border: none;
  margin-top: 1rem;
}

/* work */

.section-works {
  padding-bottom: 3rem;
}

.section-works__content {
  padding-top: 3rem;
}

.section-works__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.section-works object.arrow-1 {
  transform: rotate(55deg);
  transform-origin: 2% right;
  align-self: flex-end;
}

.section-works object.arrow-2 {
  transform: rotate(-55deg);
  transform-origin: 2% left;
  align-self: flex-end;
}

.section-works__block {
  width: 40vw;
  text-align: center;
  padding: 2%;
}

.section-works__title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: #394b50;
  text-transform: uppercase;
}

.section-works__text {
  padding-top: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #7b7b7b;
  line-height: 1.5;
}

/* clients */

.section-clients {
  background-color: #ffc155;
  padding-bottom: 2rem;
}

.section-clients .section__heading {
  color: #fff;
}

.section-clients__content {
  padding: 2rem 0 1rem;
}

.section-clients__item {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 7% 5%;
  background-color: #fff;
}

.section-clients__photo {
  width: 25%;
}

.section-clients__text {
  width: 65%;
}

.section-clients__item blockquote {
  line-height: 1.5rem;
  color: #7b7b7b;
}

.section-clients__item blockquote::before {
  content: '\201C';
}

.section-clients__item blockquote::after {
  content: '\201E';
}

.section-clients__author {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  padding-top: 1rem;
  color: #99a9ae;
}

.section-clients__author .author-name {
  color: #f6772c;
}

/* newletter */

.section-newsletter {
  text-align: center;
}

.section-newsletter .form-request__input {
  border: 1px solid #cbcbcb;
}

.map {
  background: url(../img/map.png) no-repeat top center;
  background-size: cover;
  padding-top: 2rem;
  margin-top: 2rem;
}

.address {
  background-color: #394b50;
  border-radius: 50%;
  padding: 15%;
  display: inline-block;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  position: relative;
}

.address::after {
  border: medium solid transparent;
  content: "";
  top: 98%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-color: #394b50 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
  border-width: 12px;
  margin-left: -12px;
}

.address__title {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.5rem;
}

.address__text {
  color: #aeb7ba;
}

.address__site {
  color: #ffbb42;
}

/* footer */

.footer {
  margin-top: 2rem;
  border-top: 1px solid #e3e7ec;
  padding-top: 3rem;
}

.footer__top {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #394b50;
  padding-bottom: 3rem;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer__menu-item {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #394b50;
  padding: 2%;
  min-width: 5vw;
}

.footer__menu-item:hover, .header__menu-item:hover {
  background-color: #ffbb42;
  color: #fff;
}

.footer__call {
  text-align: center;
  margin: 5% auto;
  font-size: 1.5rem;
}

.phone-number {
  display: inline-block;
}

.footer__social {
  text-align: center;
}

.footer__social i {
  padding: 0 2%;
  font-size: 1.5rem;
  color: #709dca;
}

.footer__social a:hover i {
  color: #ffc155;
  cursor: pointer;
} 

.footer__bottom {
  background-color: #709dca;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 7vh;
  color: #fff;
  line-height: 1.5;
}

/* up */

#upbutton {
  background: url("../img/up.png") no-repeat top left;
  height: 48px;
  width: 60px; 
  bottom: 2%;
  right: 2%;
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 999;
}


/* media queries */

@media all and (max-width: 575px) and (orientation: landscape) {
  
  .header-flex {
    height: 30vh;
  }

  .overlayMenu {
    right: 15vw;
    bottom: 0;
  }

  .form-request {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
 

}

@media all and (min-width: 576px) {
  
  .form-request {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .service-content {
    display: flex;
    justify-content: space-between;
  }

  .service-content__block {
    margin: 0 0 1rem;
    padding-bottom: 0;
  }

  .left-column, .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .left-column {
    margin-right: 5%;
  }

  .service-content__right {
    padding-left: 5%;
  }

  .service-content__title {
    margin-bottom: 0.5rem;
  }

  .section-about {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    padding-bottom: 0;
    background-color: #ffc155;
  }

  .section-about-bg {
    display: block; 
  }

  .section-about-content {
    padding: 15% 0 15% 10%;
  }

  .section.section-about {
    padding-top: 0;
  } 

  .section.section-about .wrapper {
    margin-left: 0;
  }

  .section__title.section__title-about {
    text-align: left;
  }

  .section-about .section__btn {
    text-align: left;
  }

  .section-choose__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
  }

  .section-choose__item {
    padding: 5%;
  }

  .section-clients__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .section-newsletter .form-request {
    justify-content: space-around;
    
  }
  
}

@media all and (min-width: 768px) {

  html {
    font-size: 13px;
  }

  .navBurger {
    display: none;
  }

  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .header__menu-item {
    display: inline-block;
    text-align: center; 
    text-decoration: none;
    text-transform: uppercase;
    color: #868686;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    padding: 2%; 
  }

  .form-request {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .section-clients__item {
    padding: 3%;
    width: 45%;
  }

  .address {
    padding: 10%;
  }


}

@media all and (min-width: 992px) {

  .form-request {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .section, .section.section-choose {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .section__heading {
    margin-bottom: 2rem;
  }

  .section.section-about {
    padding-bottom: 0;
  }

  .slider {
    display: block;
    width: 50%;
    margin: -17rem auto 0;
  }

  .banner {
    padding: 4rem 0 20rem;
  }

  .section-choose__item:hover {
    transform: scale(1.1, 1.1);
    background-color: #709dca;
  }

  .section-choose__item:hover .section-choose__title, 
  .section-choose__item:hover .section-choose__price, 
  .section-choose__item:hover .section-choose__period, 
  .section-choose__item:hover .section-choose__description {
    color: #fff;
  }

  .section-works__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .section-works__item {
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    width: 20%;
  }

  .section-works__block {
    width: 100%;
    margin-top: 5rem;
  }

  .section-works__item .icon-svg {
    order: -1;
  }

  
  .section-works object.arrow-1 {
    transform: translateX(80%);
    align-self: flex-end;
    order: -2;
  }

  .section-works object.arrow-2 {
    transform: translate(80%, 120%) rotate(180deg);
  }

  .section-works .section__btn .btn.btn-block {
    padding: 2%;
  }
  
  .section-clients__item {
    padding: 3%;
    widows: 45%;
  }

  .footer__social i {
    padding: 0 1%;
  }

  .footer__call {
    margin: 1% auto 2%;
  }
   
}

